{% extends "base.html" %} 
{% block title %} Login {% endblock title %}
{% block content %}

  <div class="container" style="margin-top:100px;">
    <h2 class="text-center">Login</h2>
    <div class="col-lg-12">
      <div class="cmt padDiv">
        <form action="{% url "login" %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username *" required="required">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password *" required="required">
              </div>
            </div>
            <div class="col-lg-12">
              <input type="submit" class="btn btn-outline-success" value="Login">
            </div>
            <div class="formfooter">
              <p>Don't have an account? <a href="{% url "signup" %}">Sign up</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
